 

img{
	max-width: 100%;
}

 

.item{
	width: 22%;
	margin: 10px;
}

.item img{
	border: 1px solid #fff;
	cursor: pointer;
}

.ligthbox{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background: rgba(0,0,0,.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-close{
	width: 70px;
	height: 70px;
	background: rgba(41, 33, 33, 0); 
	border-radius: 100%;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 12px;
	position: absolute;
	top: 70px;
	right: 30px;
	cursor: pointer;
}